## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

---
## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

Returns the data type of an object. 

```python
type(object)
```

```python
pythonic code stuff
```
# ` is a BACKTICK!

### Examples

In [2]:
type(123)

int

In [3]:
type(123.0)

float

In [5]:
type(True)

bool

In [6]:
type('lsdjdkj')

str

---

## Variables

### Assigning a variable

In [10]:
fav_num = 42
n = fav_num + 7

In [11]:
type(fav_num)

int

In [12]:
print(type(fav_num))

<class 'int'>

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

In [13]:
a = 6
print(a + b)
b = 4

NameError: name 'b' is not defined

In [14]:
a = 6
b = 4
print(a + b)

10

### Updating a variable

In [ ]:
A cell we want to delete

In [22]:
x = 1
print(x)

1

In [23]:
#add 1 to x
x = x + 1
print(x)

2

In [24]:
x = x * 3 + x
print(x)

8

#### Example: Running a cell multiple times

In [30]:
number = 6

In [ ]:
number = number + 1
print(number)

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

In [31]:
True == True

True

In [33]:
True == 123

False

In [34]:
True == 1

True

In [35]:
True != False

True

In [36]:
True != True

False

In [37]:
5 == 4 + 1

True

In [38]:
5.0 == 5

True

In [39]:
'Hello' == 'hello'

False

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |

In [40]:
is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent
print(should_process_report)

True

In [41]:
is_first_of_the_month = False
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent
print(should_process_report)

False



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

### Operations with strings

In [42]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

In [43]:
'hello' == 'heLlo'

False

In [44]:
'abc' != 'def'

True

In [45]:
## concat
'abc' + 'def'

'abcdef'

In [46]:
'abc' * 3

'abcabcabc'

In [47]:
'2' + 1

TypeError: can only concatenate str (not "int") to str

In [49]:
my_name = 'Rich'

In [50]:
'Hello, %s!' % my_name

'Hello, Rich!'

In [51]:
'Hello, {}!'.format(my_name)

'Hello, Rich!'

In [52]:
f'Hello, {my_name}!  How r u?'

'Hello, Rich!  How r u?'

### Examples

### Formatting strings

### Examples

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [53]:
s = '    Hello   World!   '

In [54]:
s.lower()

'    hello   world!   '

In [55]:
s

'    Hello   World!   '

In [56]:
s.strip()

'Hello   World!'

In [61]:
a = 'AAA123'
b = '123'

In [59]:
a.isdigit()

False

In [62]:
b.isdigit()

True

In [64]:
b = '123, Main, Street'

b.split(', ')

['123', 'Main', 'Street']

In [66]:
b.lower().split(', ')

['123', 'main', 'street']

In [67]:
', '.join(['one','two','three'])

'one, two, three'

---

## Lists

### Creating a list

In [68]:
number_list = [1,2,3] # list w/ 3 ints

In [69]:
string_list = ['one','two','three']

In [74]:
list_of_lists = [number_list,string_list]

In [75]:
list_of_lists

[[1, 2, 3], ['one', 'two', 'three']]

### List comprehensions

In [71]:
[n for n in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
[n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [73]:
[n * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]

### List Operations

In [76]:
numbers = [1,2,3]

In [77]:
# add 4 to the list
numbers.append(4)
numbers

[1, 2, 3, 4]

In [78]:
numbers.pop()
numbers

[1, 2, 3]

In [79]:
len(numbers)

3

In [80]:
# index

numbers[0]

1

In [81]:
numbers[:2]

[1, 2]

In [82]:
numbers[1:]

[2, 3]

In [83]:
## convert to a LIST
# list()
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [85]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [89]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
my_numbers = [1,2,3]

#map() function

list(map(str,my_numbers))

['1', '2', '3']

In [93]:
 # [map(str,my_numbers) for i in my_numbers]  how to write a list comp?

---

## Tuples

In [94]:
my_tuple = (1,2,3)

In [95]:
type(my_tuple)

tuple

In [96]:
my_tuple[0]

1


---

## Dictionaries

In [98]:
my_dictionary = {
    'name' : 'Codeup',
    'age'  : 9
}
my_dictionary

{'name': 'Codeup', 'age': 9}

In [101]:
dict(name = 'Codeup', age = 9)

{'name': 'Codeup', 'age': 9}

In [104]:
dict(10 = 'Codeup', 11 = 9)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1545198473.py, line 1)

### Creating a dictionary

### Accessing dictionary values

In [103]:
school = dict(name = 'Codeup', age = 9)
school['name']

'Codeup'

In [107]:
school['age'] += 1
school

{'name': 'Codeup', 'age': 10}

## Changing data types

```python
int()
```

```python
str()
```

In [108]:
a = 3 
type(a)

int

In [109]:
str(a)

'3'

In [110]:
b = '6'
type(b)

str

In [111]:
int(b)

6

In [114]:
type(b)

str

In [112]:
int(True)

1

### Examples

### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```

In [115]:
name = input('What is your name?')
print(name)

What is your name?judhfjsh
judhfjsh

In [116]:
name

'judhfjsh'

In [117]:
first_number = input('What is the first number?')
second_number = input('What is the second number?')
third_number = input('What is the third number?')

What is the first number?1
What is the second number?2
What is the third number?3